{%extends "base.html" %}
{% block content %}

{% if active_block %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-6">Running <span class="badge badge-primary">{{active_block["session_folder"]}}</span> <span class="badge badge-secondary">{{active_block["block_id"]}}</span> </h1>
      <p class="lead">Started at {{active_block["started_on"][9:]}} by {{active_block["user_name"]}}.</p>
      {% if active_block["session_notes"] != "" %}
        <h4><a class="alert-link" href="#">Session notes</a></h4>
        <p class="lead">{{active_block["session_notes"]}}.</p>
      {% else %}
        <h4><a class="alert-link" href="#">Add session notes</a></h4>
      {% endif %}

      {% if active_block["block_notes"] != "" %}
        <h4><a class="alert-link" href="#">Block notes</a></h4>
        <p class="lead">{{active_block["block_notes"]}}.</p>
      {% else %}
        <h4><a class="alert-link" href="#">Add block notes</a></h4>
      {% endif %}

    </div>

  </div>

  {% if cam_with_recording != [] %}
    <div class="alert alert-danger" role="alert">
      Data has already been saved to <span class="badge badge-secondary">{{", ".join(cam_with_recording)}}</span>, starting a recording will overwrite. To avoid a loss of data, you can <a class="alert-link" href={{url_for('new_block')}}>start a new block</a>.
    </div>
  {% endif %}
{% endif %}

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h2>Active Processes</h2>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="card-deck">

            {% for process_content in local_active_processes.values() %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Local Process {{process_content["pid"]}}</h5>
                <h6 class="card-subtitle">{{process_content["description"]}}</h6>
                <br/>
                {% if running_pwm %}
                  <button class="btn btn-danger" disabled>Kill Process</a>
                {% else %}
                  <a href="{{url_for("kill_by_pid", pid=process_content["pid"])}}" class="btn btn-danger">Kill Process</a>
                {% endif %}

              </div>
            </div>
            {% endfor %}

            {% for process_content in rpi_active_processes.values() %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">RPI {{process_content["rpi_type"]}} process {{process_content["pid"]}}</h5>
                <h6 class="card-subtitle">{{process_content["description"]}}</h6>
                <br/>
                <a href="{{url_for("rpi_kill_process", rpi_type=process_content["rpi_type"], pid=process_content["pid"])}}" class="btn btn-danger">Kill Process</a>
              </div>
            </div>
            {% endfor %}



          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h2>New Process</h2>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="card-body">
            <div class="card-deck">

              {% for cam in available_cameras %}
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{cam["cam_name"]}}</h5>
                  <h6 class="card-subtitle">Local TIS Camera (Windows)</h6>
                  <br/>
                  <a href="{{url_for("tis_cam_windows_preview", cam_name=cam["cam_name"])}}" class="btn btn-secondary">Preview</a>
                  <a href="{{url_for("tis_cam_windows_record", cam_name=cam["cam_name"])}}" class="btn btn-success">Start recording</a>
                </div>
              </div>
              {% endfor %}

            </div>
            {% for rpi in available_rpi %}
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{rpi["description"]}}</h5>
                  <h6 class="card-subtitle">{{rpi["extended_description"]}}</h6>
                  <br/>
                  <a href="{{url_for("test_rpi_connection", rpi_type=rpi["rpi_type"])}}" class="btn btn-primary">Test connection</a>
                  {% if local_active_processes != {} %}
                  <a href="{{url_for("start_rpi_process", rpi_type=rpi["rpi_type"])}}" class="btn btn-success">Start</a>
                  {% else %}
                  <button class="btn btn-success" disabled>Start</button>
                  <h5><span class="badge bg-danger text-white">No local processes running ! <a class="text-white" href="{{url_for("start_rpi_process", rpi_type=rpi["rpi_type"])}}"> Start anyways</a></span></h5>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <p class="lead text-muted">Not finding your camera or needing to change its parameters ? <a class="alert-link" href={{url_for('tis_cam_windows_upload_page')}}>Upload a new state file</a>.</p>
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h2>Recent actions</h2>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Task</th>
                <th>Task Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1822</td>
                <td>fayat</td>
                <td>2020-11-23 14:32:51</td>
                <td>CAM0</td>
                <td>TIS Camera (windows)</td>
                <td>Start</td>
              </tr>
              <tr>
                <td>2042</td>
                <td>fayat</td>
                <td>2020-11-23 14:34:23</td>
                <td>CAM1</td>
                <td>TIS Camera (windows)</td>
                <td>Start</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{rpi_active_processes}}

{% endblock %}
