{%extends "base.html" %}
{% block content %}

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h2>Active Processes</h2>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="card-deck">

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">CAM0</h5>
                <a href="#" class="btn btn-danger">Stop Process</a>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">CAM1</h5>
                <a href="#" class="btn btn-danger">Stop Process</a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h2>New Process</h2>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="card-body">
            <div class="card-deck">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Local TIS Camera (Windows)</h5>
                  <a href="{{url_for('tis_cam_windows')}}" class="btn btn-lg btn-success">New</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Remote PWM (raspberry)</h5>
                  <a href="#" class="btn btn-lg btn-success">New</a>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h2>Recent actions</h2>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Task</th>
                <th>Task Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1822</td>
                <td>fayat</td>
                <td>2020-11-23 14:32:51</td>
                <td>CAM0</td>
                <td>TIS Camera (windows)</td>
                <td>Start</td>
              </tr>
              <tr>
                <td>2042</td>
                <td>fayat</td>
                <td>2020-11-23 14:34:23</td>
                <td>CAM1</td>
                <td>TIS Camera (windows)</td>
                <td>Start</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
