{%extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1>Session manager</h1>
    <p class="lead text-muted">Fill in the following fields to create a new session</p>
    <div class="text-left">
      <form action="{{url_for('create_new_session')}}" method="POST" enctype="multipart/form-data" id="new_session_form">

<!--
        <select class="custom-select" name="user_name" id="user_name" form="new_session_form" required>
          {% for u in users %}
          <option value="{{u["user_name"]}}">{{u["user_name"]}}</option>
          {% endfor %}
        </select>
!-->
        <div class="row">
          <div class="col">
            <div class="form-group" id="user_name_group">
              <label for="user_name">User Name</label>
              <select class="form-control" name="user_name" id="user_name" form="new_session_form" required>
                <option value="">User Name</option>
                {% for u in users %}
                <option>{{u["user_name"]}}</option>
                {% endfor %}
              </select>

            </div>
          </div>

          <div class="col">
            <div class="form-group" id="rodent_name_group">
          <label for="rodent_name">Rodent</label>
          <select class="form-control" name="rodent_name" id="rodent_name" form="new_session_form" onchange="updateSessionFolder()" required>
            <option value="">Rodent Name</option>
            {% for r in rodents %}
            <option>{{r["rodent_name"]}}</option>
            {% endfor %}
          </select>
        </div>
          </div>
        </div>

        <div class="form-group" id="session_name_postpend_group">
          <label for="session_name_postpend">Session Name Postpend</label>
          <input class="form-control" type="text" name="session_name_postpend" id="session_name_postpend" onkeyup="updateSessionFolder()"></input>
        </div>

        <div class="form-group" id="block_name_postpend_group">
          <label for="block_name_postpend">Block Name Postpend</label>
          <input class="form-control" type="text" name="block_name_postpend" id="block_name_postpend" onkeyup="updateBlockFolder()"></input>
        </div>

        <input class="form-control" type="hidden" name="data_folder" value="{{data_folder}}"></input>
        <input class="form-control" type="hidden" name="session_folder" id="session_folder"></input>
        <input class="form-control" type="hidden" name="block_folder" id="block_folder"></input>

        <p class="lead text-muted">
          The session will be saved in:
          <b><br>
            {{data_folder}}\<span id="displayed_session_folder"></span>
          </b>

          <span class="badge bg-danger text-white" id="warning_session_exists">This folder name already exists.</span>

        </p>

        <p class="lead text-muted">
          The first block will be saved in:
          <b><br>
           {{data_folder}}\<span id="displayed_block_folder"></span>
          </b>
        </p>

        <div class="form-group" id="session_notes_group">
          <label for="session_notes">Session Notes</label>
          <textarea class="form-control" name="session_notes" id="session_notes" placeholder="Add Notes Here" rows="3"></textarea>
        </div>


        <div class="form-group" id="block_notes_group">
          <label for="block_notes">Block Notes</label>
          <textarea class="form-control" name="block_notes" id="block_notes" placeholder="Add Notes Here" rows="3"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Create Session</button>
      </form>
      </div>
  </div>
</section>


<script type="text/javascript">
    updateSessionFolder();
    function updateSessionFolder(){
      sessionFolderElement = document.getElementById("session_folder");

      rodent_name = document.getElementById("rodent_name").value;
      postpend = document.getElementById("session_name_postpend").value;

      session_folder_name = {{date}} + "_" + rodent_name;
      if (postpend!=""){
        session_folder_name = session_folder_name + "_" + postpend;
      }
      sessionFolderElement.value = session_folder_name;
      document.getElementById("displayed_session_folder").textContent = session_folder_name;
      updateBlockFolder();
      updateWarningExistingFolder();
    }

    function updateBlockFolder(){
      session_folder_name = document.getElementById("session_folder").value;
      postpend = document.getElementById("block_name_postpend").value;

      block_folder_name = session_folder_name + "_" + "{{block_id}}";
      if (postpend!=""){
        block_folder_name = block_folder_name + "_" + postpend;
      }

      blockFolderElement = document.getElementById("block_folder");
      blockFolderElement.value = block_folder_name;

      document.getElementById("displayed_block_folder").textContent = session_folder_name + "\\" + block_folder_name;
    }

    function updateWarningExistingFolder(){
      session_folder_name = document.getElementById("session_folder").value;
      var existing_sessions = {{existing_sessions | safe}}
      if (existing_sessions.includes(session_folder_name)){
        document.getElementById("warning_session_exists").style.display = "";
      } else {
        document.getElementById("warning_session_exists").style.display = "none";
      }

    }

</script>


{% endblock %}
