{%extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
  <div class="container">

    <h1>The Imaging Source for Windows</h1>
    <h2>Camera handler</h2>
    <p class="lead text-muted">Select an available camera and start a recording.</p>

    <div class="text-left">
    <form action="{{url_for('tis_cam_windows_action')}}" method="POST" enctype="multipart/form-data" id="cam_name_form">
      <select class="custom-select" name="cam_name" id="cam_name" form="cam_name_form" required>
        <option value="">Camera Name</option>
        {% for cam in available_cameras %}
        <option value="{{cam["cam_name"]}}">{{cam["cam_name"]}}</option>
        {% endfor %}
      </select>
      <div class="btn-group mt-2" role="group">
        <input type="submit" class="btn btn-success" value="Start recording" name="selected_action" />
        <input type="submit" class="btn btn-secondary" value="Preview" name="selected_action" />
      </div>
    </form>
    </div>
    <p class="lead text-muted">Not finding your camera ? <a class="alert-link" href={{url_for('tis_cam_windows_upload_page')}}>Upload a new state file</a>.</p>
  </div>
</section>

{% endblock %}
